<ng-container *ngIf="option == 1">
  <!-- input de placa -->
  <!-- select de carro moto -->
  <!-- boton de registrar -->
  <form class="w-100">
    <div class="mb-3">
      <label class="form-label">Plate</label>
      <input
        (keyup)="onKey($event)"
        [(ngModel)]="plate"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control"
      />
    </div>
    <div *ngIf="showType" class="mb-3">
      <label class="form-label">Type</label>
      <select
        [(ngModel)]="type"
        [ngModelOptions]="{ standalone: true }"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="carro">Carro</option>
        <option value="moto">Moto</option>
      </select>
    </div>
    <div class="mb-3">
      <div class="col-auto">
        <button
        *ngIf="typeButton === 1"
          (click)="registerVehicle(plate, type)"
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="isDisabled"
        >
          Create Vehicle
        </button>
        <button
        *ngIf="typeButton === 2"
        (click)="createRecord(plate)"
        type="submit"
        class="btn btn-primary mb-3"
        [disabled]="isDisabled"
      >
        Create Record
      </button>
      </div>
    </div>
    {{vehicles | json}}
  </form>
  <div *ngIf="message" class="alert alert-primary" role="alert">
    {{ message }}
  </div>
</ng-container>

<ng-container *ngIf="option == 2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Plate</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Entry date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of records; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.vehicleId.plate}}</td>
        <td>{{item.vehicleId.type | titlecase}}</td>
        <td>{{item.parked ? "Active" : "Inactive"}}</td>
        <td>{{item.entryDate | date }}</td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>
